.cart {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 50px;
}

.cart-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
