.image {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  position: relative;
}

.title {
  text-align:left;
  margin-bottom: 0;
  margin-top: 20px;
}

.text {
  font-size: larger;
  font-weight: 600;
}

.btn {
  padding: 15px;
  background-color: darkcyan;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.product-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 75px;
}

.detail {
  height: 256px;
  display: flex;
  flex-direction: column;
  gap: 30px
}

