.app-wrapper {
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  padding: 16px 0;
}

.product {
  max-width: 300px;
  height: 400px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
--tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
  cursor: pointer;
}

.images {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 18px;
}

.text {
  text-align: center;
}
